/*
style.css
---------
 
Par Mahou Elyès
*/
@charset "UTF-8";

@font-face {
     font-family: 'Akaya Telivigala', cursive;
     text-align: center;
     border-radius: 10px
}

/**Title "Poch'Lib"**/
h1{
  background-color: whitesmoke;
  box-shadow: 0px 6px 0px grey;
  text-align: center;
}

/**Title "Nouveau Livre" - "Ma poch'liste" - "Résultat s de recherche"**/
h2 {
  font-family: 'Akaya Telivigala', cursive;
  text-align: center;
  color: black;
  padding-top: 10px;
}

/**body**/
body {
  text-align: center;
  width: auto;
}

.container {
  /* On ajoute une marge sur les cotés de l'écran */
  padding-right: 15px;
  padding-left: 15px;
    /* Et on centre */
  margin-right: auto;
  margin-left: auto; 
  /* Sur les grands écrans, on limite la largeur du contenu */
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}

  float: left;
  border: solid 2px black;
  border-radius: 17px;
  height: 300pt;
  text-align: justify;
  overflow: auto; }

/**logo**/
  .logo {
  height: 80px;
  width: auto;
  float: right;
  margin: 5px;
  border-radius: 50px;
}

/**Button : "Ajouter un livre" CSS**/
#buttonAddBook {
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 140px;
  background-color: #5F8564;
  color: whitesmoke;
  text-align: center;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 25px;
  outline: none;
}

/**div="divForm" CSS**/
/*extensions des champs*/
#divForm_fields {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 15px;
  text-align: left;
}

/*libéllé titre+auteur*/
label {
  padding-left: 2px;
  font-family: cursive;
  color: #000000;
  font-weight: bold;
}

/*champs de saisie*/
input {
  font-family: cursive;
  background-color: #DAF7A6;
  border-radius: 10px;
  outline: none;
  border: 2px;
}

/*cadre des champs*/
input:focus {
  border: 2px solid #6d6875;
}


#divForm_buttons {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 15px;
  text-align: left;
}

/*bouton recherche*/
#buttonSearchBook {
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 140px;
  background-color: #5F8564;
  color: whitesmoke;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 15px;
  outline: none;

}

/*bouton annuler*/
#buttonCancelSearchBook {
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 140px;
  background-color: #FF0000;
  color: whitesmoke;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 15px;
  outline: none;
}

/**div="content" CSS**/
#divBooksInMyPochList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

/**div="Résultat de recherche" CSS**/
#divResultBooks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

/**div="divResultBook" CSS**/
#divResultBook {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 3px solid black;
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0 2px 6px black;
}

.divResultBookHeader {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 20px;
}

.divResultBookBody {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  color: #000000;
  justify-content: space-between;
}

.resultBookId {
  font-style: italic;
  font-weight: bold;
  padding-left: 15px;
}

.resultBookAuthor {
  padding-left: 15px;
}

.resultBookDescription {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 50px;
  height: 10px;
}

.resultbookImg {
  display: block;
  margin: auto;
  max-height: 100px;
  padding-bottom: 8px;
}

.resultbookImgBlock {
  margin-top: 50px;
}

/**Responsive Design**/
/*mobile*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .logo {
    height: 70px;
    width: auto;
    float: right;
    margin: 5px;
    border-radius: 50px;
  }

  h1 {
    font-size: 1.1em;
  }

  h2 {
    font-size: 1em;
  }

  label {
    font-size: 0.6em;
    padding: 10px;
  }

  input {
    font-size: 0.6em;
    padding: 10px;
  }

  .errorMessage {
    font-size: 0.6em;
  }

  #divForm_buttons {
    align-items: center;
  }

  #divResultBook {
    width: 100%;
  }

  .resultBookTitle {
    font-size: 0.9em;
  }

  .divResultBookBody {
    font-size: 0.7em;
  }
}
/*Tablet*/
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  h1 {
    font-size: 1.4em;
  }

  h2 {
    font-size: 1em;
    margin-bottom: 10px;
  }

  label {
    font-size: 0.7em;
    padding: 10px;
  }

  input {
    font-size: 0.7em;
    padding: 10px;
  }

  hr {
    margin: 0px;
  }

  #divResultBook {
    width: 47%;
    margin-top: 0px;
  }

  .resultBookTitle {
    font-size: 0.9em;
  }

  .divResultBookBody {
    font-size: 0.7em;
  }
}
/*Desktop*/
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.3em;
    margin-bottom: 15px;
  }

  label {
    font-size: 0.9em;
    padding: 10px;
  }

  input {
    font-size: 0.9em;
    padding: 10px;
  }

  #buttonAddBook, #buttonSearchBook, #buttonCancelSearchBook {
    cursor: pointer;
    transform: scale(1);
    transition: transform 400ms;
    opacity: 1;
  }
  #buttonAddBook:hover, #buttonSearchBook:hover, #buttonCancelSearchBook:hover {
    transform: scale(1.25);
    opacity: 0.9;
  }

  hr {
    margin: 0px;
  }

  #divResultBook {
    width: 46%;
    margin-top: 0px;
    transform: scale(1);
    transition: transform 400ms;
  }
  #divResultBook:hover {
    transform: scale(1.05);
  }

  i:hover {
    cursor: pointer;
    transform: scale(1.5);
  }

  .resultBookTitle {
    font-size: 1.1em;
  }

  .divResultBookBody {
    font-size: 0.9em;
  }
}
